@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}

:before,
:after {
  box-sizing: inherit;
}

embed,
iframe,
object {
  max-width: 100%;
}

img,
video {
  max-width: 100%;
  height: auto;
}

@media (prefers-color-scheme: dark) {
  .accordion-component {
    color-scheme: light;
  }
}

.slick-slide > div {
  margin: 0 10px;
}

.backdrop-blur-lg {
  --tw-backdrop-blur: none;
  -webkit-backdrop-filter: none; 
  backdrop-filter: none;
}

.before\:duration-150::before,
.after\:duration-150::after 
  {
  transition-duration: 300ms !important;
}

.data-\[menu-open\=true\]\:backdrop-blur-xl[data-menu-open="true"] {
  --tw-backdrop-blur: none !important;
}


