@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}

:before,
:after {
  box-sizing: inherit;
}

embed,
iframe,
object {
  max-width: 100%;
}

img,
video {
  max-width: 100%;
  height: auto;
}

.slick-slide > div {
  margin: 0 10px;
}


/* .slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 35px;
  height: 35px;
  background-color: #86A6F6;
  border-radius: 50%;
  color: transparent;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
}

.slick-prev {
  left: 0px;
}

.slick-next {
  right: 0px;
}

.slick-prev:hover,
.slick-next:hover {
  background-color: #4e6191;
} */

